@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding:0;
    margin:0;
  }
  
  
  .container{
      margin: 0 auto;
      padding: 0 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      max-width: 1300px;
      margin-bottom: 5em;
  }


/* Header */

.header {
height: 100vh;
width: cover;
background-image: linear-gradient(
    to right bottom,
    rgba(10, 233, 155, 0.303),
    rgba(25, 110, 247, 0.426)
),

url('../home-bg.jpg');
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

h1{
font-family: 'Raleway', sans-serif;
line-height: 1.5rem;
color: white;
}

h3{
    font: normal 1.5em 'Playfair Display SC', serif;
    text-align:center;
    padding-top: 0.5em;
    color: white;
}


  /* Navbar  */

  a {
      text-decoration: none;
      color: inherit;
  }

  main {
      min-height: 100vh;
  }

  header {
      background: white;
      box-shadow: 0 0 5px rgba(109, 170, 211, 0.433);
      margin-bottom: 2em;
  }


  nav {
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
  }

  nav a {
      flex-grow: 1;
      text-align: center;
      padding: 1em;
      position: relative;
  }

  nav a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right:0;
      height: 2px;
      transform: scaleX(0);
      background: #333;
      transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
  }

  nav a:hover::after{
      transform: scaleX(1)
  }

  
  /* Post */

.blog-post{
    position: relative;
    margin-bottom: 2em;
}
.blog-post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}
.blog-post .category{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
font-size: 14px;    text-decoration: none;
    background-color: rgba(10, 233, 155, 0.508);
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
.text-content{
    position: absolute;
    bottom: -30px;
    padding: 20px;
    background-color: #fff;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.08);
    padding-top: 1px;
    box-shadow:20px 20px 50px 15px rgba(102, 154, 202, 0.576);  

}
.text-content h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.text-content h1{
    color:rgb(29, 28, 28);
    font-size: 17px;
    font-weight: 700;
    padding: 1.2rem;

}
.text-content img{
    height: 70px;
    width: 70px;
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 35px;
}

.tags a{
color: #888;
font-weight: 700;
text-decoration: none;
margin-right: 15px;
transition: 0.3s ease;
}

.tags a:hover{
color: rgba(106, 175, 240, 0.803);
}

.btn {
display: inline-block;
color: rgb(111, 111, 111);
border: 3px solid rgba(25, 110, 247, 0.426);
padding: 10px 20px;
margin: 5px;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
font-size: 18px;
font-family: inherit;
}

.btn:active {
transform: scale(0.8);
border: 3px solid rgba(10, 233, 155, 0.303);
}

.btn-block {
display: block;
width: 100%;
}


/* PAGINATION */


@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.pagination_container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  box-shadow: 0px 0.5vh 5px 0px rgba(0, 0, 0, 0.25);
}

.pagination {
  margin: 25px 0 15px 0;
}
.pagination,
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination li {
  background: rgba(42, 90, 73, 0.303);
  list-style: none;
  margin: 0.5em;
  border-radius: 50px;
}
.pagination li a {
  text-decoration: none;
  color: #fdfdfd;
  height: 50px;
  width: 50px;
  font-size: 18px;
  padding-top: 1px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.pagination li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(159, 178, 212, 0.35);
  border-bottom-color: rgba(81, 171, 223, 0.5);
}
.pagination li a:focus,
.pagination li a:active {
  padding-top: 4px;
  border-left-width: 1px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.pagination li.icon a {
  min-width: 120px;
}
.pagination li:first-child span {
  padding-right: 8px;
}
.pagination li:last-child span {
  padding-left: 8px;
}



/* FOOTER */


.footer {
    /* position: fixed; */
  background: linear-gradient(
          to right bottom,
          rgba(10, 233, 155, 0.35),
          rgba(25, 110, 247, 0.494)
      );
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer .heading {
      color:rgb(240, 240, 240);
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
    color: rgba(0, 0, 0, 0.829);
  }
  
  .footer .content a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.829);
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.829);
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
    color:rgb(138, 141, 138);
  }
  
  footer {
    text-align: center;
    padding-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }


  /* POST DETAILS */

.single-post{
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-gap: 20px;
    max-width: 1300px;
    margin-bottom: 5em;
}
.single-post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}
.single-post .category{
    position: absolute;
    top: 100px;
    left: 30rem;
    padding: 10px 15px;
    font-size: 14px;    
    text-decoration: none;
    background-color: rgba(10, 233, 155, 0.508);
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
.post-content{
    position: absolute;
    bottom: -30px;
    padding: 20px;
    background-color: #fff;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.08);
    padding-top: 1px;
    box-shadow:20px 20px 50px 15px rgba(102, 154, 202, 0.576);  

}
.post-content h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.post-content h1{
    color:rgb(29, 28, 28);
    font-size: 17px;
    font-weight: 700;
    padding: 1.2rem;

}
.post-content img{
    height: 70px;
    width: 70px;
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 0;
    position: absolute;
    top: -35px;
    left: 35px;
}
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }
  

  @media screen and (min-width: 1100px) {
      .container{
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: 60px;
      }
  }
  
  @media screen and (max-width: 1100px) {
      .container{
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 60px;
      }
  }
  @media screen and (max-width: 600px) {
      .container{
          grid-template-columns: 1fr;
          grid-row-gap: 60px;
      }
  }